<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/user/login-form-07/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/user/login-form-07/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/user/login-form-07/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/user/login-form-07/css/style.css">

    <title>Login #7</title>
</head>
<body>



<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/user/login-form-07/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Admin Page</h3>
                            <p class="mb-4">현재 서비스중인 페이지입니다.</p>
                        </div>
                    </div>
                </div>
                <br></br>
                <br></br>
                <br></br>

                    <button class="btn btn-primary" onclick=location.href="http://117.16.17.165:3000" type="submit">Dashboard</button>
                    <button class="btn btn-secondary" onclick=location.href="http://117.16.17.165:30004/d/kube-cluster/kubernetes-cluster-prometheus?orgId=1&refresh=10s" type="submit">Monitoring</button>
                    <button class="btn btn-success" onclick=location.href="http://117.16.17.165:30000" type="submit">Jenkins</button>
                    <button class="btn btn-info" onclick=location.href="https://117.16.17.165:31122/applications?showFavorites=false&proj=&sync=&autoSync=&health=&namespace=&cluster=&labels=" type="submit">ArgoCD</button>
            </div>

        </div>
    </div>
</div>


<script src="/user/login-form-07/js/jquery-3.3.1.min.js"></script>
<script src="/user/login-form-07/js/popper.min.js"></script>
<script src="/user/login-form-07/js/bootstrap.min.js"></script>
<script src="/user/login-form-07/js/main.js"></script>
</body>
</html>